@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 
*{
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}
body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    position: 10;
}
.right{
    width: 75vw;
    position: relative;
}
.logo >img{
    width: 40px;
    height: 40px;
}

.home ul li{
    display: flex;
    gap:15px;
    list-style: none;
    width: 14px;
    height: 20px;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap:15px;
    width: 100%;
    height: 20px;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
    padding: 23px 14px;
}
.library{
    min-height: 78vh;
    position: relative;
}
.footer{
    display: flex;
    font-size: 10px;
    color:grey;
    gap:13px;
    position: absolute;
    bottom: 0;
}
.footer a{
    color:gray;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(49, 48, 48, 0.492);
}
.header > *{
    padding: 20px;
}
.spotifyPlaylist{
    padding: 15px;
}
.cardContainer{
    margin: 30px;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
}
.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;;
}
.card > *{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.play{
    position:absolute;
    top:175px;
    right: 20px;
}

.button > *{
    margin: 0 12px;
}
.signupbtn{
    background-color: rgb(34,34,34);
    color: rgb(156,148,148);
    font-weight: bold;
    border:none;
    outline:none;
    cursor:pointer;
    font-size: 16px;
}
.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn{
    background-color: white;
    cursor: pointer;
    padding: 10px;
    width: 79px;
    color: black;
    border-radius: 21px;
    font-weight: 500;
}
.loginbtn:hover{
    font-weight: bolder;
    width: 79px;
}

.playbar{
    position: fixed;
    bottom: 30px;
    background-color: #00C853;
    width: 70vw;
    padding: 15px;
    border-radius: 30px;
    height: 35px;
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 17px;
}

.songlist{
    height: 644px;
    overflow: auto;
    margin-bottom: 44px;
}
.Hamburger{
    display: none;
}
.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.songlist ul{
    padding: 0px 20px;
}

.songlist ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 28px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 15px;

}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playnow span{
    font-size: 15px;
    width: 64px;
    padding: 10px;
}
.songlist .info{
    font-size: 16px;
    width: 344px;
}

.seekbar{
    height: 3px;
    width: 95%;
    background-color:  black;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: white;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons{
    cursor: pointer;
}

.songinfo , .songTime{
    color: black;
    padding: 0 22px;
}
.abovebar{
    display: flex;
    justify-content: space-between;
}

@media (max-width : 1250px) {
    .left{
        position: absolute;
        left:-120%;
        transition: all .5s;
        z-index: 1;
        width: 380px;
        background-color: black;
    }
    .left .close{
        position: absolute;
        right: 31px;
        top:25px;
        width: 29px;
    }
    .right{
        width: 100vw;
    }
    .playbar{
        width: 95vw;
    }

    .Hamburger{
        display: block;
    }
}