@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}
body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    position: 10;
}
.right{
    width: 75vw;
}
.logo >img{
    width: 40px;
    height: 40px;
}

.home ul li{
    display: flex;
    gap:15px;
    list-style: none;
    width: 14px;
    height: 20px;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap:15px;
    width: 100%;
    height: 20px;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
    padding: 23px 14px;
}
.library{
    min-height: 78vh;
    position: relative;
}
.footer{
    display: flex;
    font-size: 10px;
    color:grey;
    gap:13px;
    position: absolute;
    bottom: 0;
}
.footer a{
    color:gray;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(49, 48, 48, 0.492);
}
.header > *{
    padding: 20px;
}
.spotifyPlaylist{
    padding: 15px;
}
.cardContainer{
    margin: 30px;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
}
.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;;
}
.card > *{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.play{
    position:absolute;
    top:175px;
    right: 20px;
}

.button > *{
    margin: 0 12px;
}
.signupbtn{
    background-color: rgb(34,34,34);
    color: rgb(156,148,148);
    font-weight: bold;
    border:none;
    outline:none;
    cursor:pointer;
    font-size: 16px;
}
.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn{
    background-color: white;
    cursor: pointer;
    padding: 10px;
    width: 79px;
    color: black;
    border-radius: 21px;
    font-weight: 500;
}
.loginbtn:hover{
    font-weight: bolder;
    width: 79px;
}