.border{
    border:2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-content{
    justify-content: center;
}

.item-center{
    align-items:center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter:invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin:5px ;
}
.p-1{
    padding: 10px;
}
/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #111;       /* Dark track */
}

::-webkit-scrollbar-thumb {
    background: #444;       /* Medium grey thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;       /* Lighter on hover */
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #444 #111;
}

